{% extends "base.html.twig" %}


{% block title %}
    Article
{% endblock title %}

    

    {% block content %}
        {% for article in articles %}
            <div class="Article">
                <h1>{{ article.name }}</h1>
                <p>{{ article.Description }}</p>
                <p>{{ article.Date ? article.Date|date('Y-m-d') : '' }}</p>
                <span>
                    {% for tag in article.tags %}
                        <p class="tags">
                            {{ tag.name }}
                        </p>
                    {% else %}
                        No Tags
                    {% endfor %}
                </span>
                <a href="{{ path('article_show', {'id': article.id}) }}">show</a>


            </div>
            {% else %}
            <p>Aucun article trouvé </p>
        {% endfor %}
       
    {% endblock content %}

    
